@model SRV.ViewModels.User.EmailModel
@{
    Layout = "~/Views/Shared/_User.cshtml";
}
@section title{
    <span class="fa fa-envelope-o"></span>
    设置Email
}
@section upTitle {
    设置Email
}


@using (Html.BeginForm())
{
<div>
    <label>Email：（* 必填）</label>
    @ViewData["result"]
    <div class="input-group">
        @Html.TextBoxFor(m => m.Value, new { placeholder = "能正常接收系统邮件的Email地址", @class = "form-control valid" })
        <a class="input-group-addon">发送 </a>
    </div>
</div>

    <div>
        <label>验证码：（* 必填）</label>
        @Html.TextBoxFor(m => m.AuthCode, new { placeholder = "从验证邮件中获取", @class = "form-control" })
    </div>

    <br />
    <input type="submit" value="提交" class="btn btn-primary">
}

@section aside {
    <h3 style="color: #31708f;"><span class="fa fa-question-circle "></span>说明</h3>
    <ol>
        <li>Email非常重要，可用于重置密码、接受用户消息（可设置取消）等，强烈建议填写。</li>
        <li>因为Email发送可能出现故障，如果你一直没收到验证Email，可以点击“验证”按钮，让系统再发送一封确认邮件到该邮箱。更多信息可查看：常见问题·账户·Email。</li>
    </ol>
}


